@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  max-width: none !important; 
  border: none !important;
}

.react-calendar__tile {
  padding: 20px 10px !important; 
}



::-webkit-scrollbar {
    display: none;
}

/* In your global CSS or inside a <style jsx global> if using Next.js */
.ProseMirror {
  padding: 1rem; /* or Tailwind's p-4 equivalent */
  outline: none; /* optional: remove default focus outline */
}
